* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Abnes';
    src: url('assets/Fonts/abnes.ttf');
}
@font-face {
    font-family: 'Digital Play St';
    src: url('assets/Fonts/Digital\ Play\ St.ttf');
}
@font-face {
    font-family: 'BatmanForeverAlternate';
    src: url('assets/Fonts/batmfa__.ttf');
}
@font-face {
    font-family: 'Conthrax Sb';
    src: url('assets/Fonts/conthrax-sb.otf');
}
@font-face {
    font-family: 'Hemi Head Bd';
    src: url('assets/Fonts/hemi\ head\ bd\ it.otf');
}

:root {
    /* Old primary color code: ->  --primary-color: #8d55e9; */
    --primary-color: #151516;
    --secondary-color: #4a4a4a;
    --tertiary-color: #f5f5f5;
    --smaller: 0.75;
    --my-width: calc(100% - 2rem - 6rem);
}

body {
    font-family: sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    /* overflow-x: hidden; */
}

nav {
    font-family: 'Conthrax Sb';
    position: fixed;
    top: 1rem;

    width: var(--my-width);
    padding: 0 3rem;

    height: 3.5rem;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--tertiary-color);
    border-radius: 50rem;

    z-index: 20;
}

nav > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

nav > div > a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 700;

    transition: all 0.25s ease;
}

nav > div > a:hover {
    color: var(--primary-color);
}

.main-container {
    width: 100%;
    height: calc(100vh - 7rem);

    margin-top: 5.75rem;
/* 
    display: flex; */
    justify-content: center;
    align-items: center;
}

.main-container > .image-container {
    height: 100%;
    width: calc(var(--my-width) + 6rem);
    position: relative;

    border-radius: 2rem;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container > .image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-container > .image-container::after {
    content: "";
    position: absolute;

    display: inline-block;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
}

.title{
    
    font-size: 40px;
    font-family: 'Abnes';
} 
.register-text{
   font-family: 'BatmanForeverAlternate'; 
}
.timeline-heading{
    font-family: 'Conthrax Sb';
}
.timeline-para{
    font-family: 'Hemi Head Bd';
    color: rgb(230, 225, 225);
}

.countdown-container {
    width: 100%;
    height: 100%;
font-family: 'Digital Play St';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--tertiary-color);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    z-index: 10;
}

.countdown-container > .container {
    margin: 0 auto;
    text-align: center;
}

.countdown-container > .container > h1 {
    font-weight: normal;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

#countdown ul li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

#countdown ul li span {
    display: block;
    font-size: 4.5rem;
}

.emoji {
    display: none;
    padding: 1rem;
}

.emoji span {
    font-size: 4rem;
    padding: 0 0.5rem;
}

@media all and (max-width: 768px) {
    h1 {
        font-size: calc(1.5rem * var(--smaller));
    }

    li {
        font-size: calc(1.125rem * var(--smaller));
    }

    li span {
        font-size: calc(3.375rem * var(--smaller));
    }
}

.btn {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    padding: 0.5rem 1rem;
    border-radius: 10rem;
}

/* BACKGROUND ANIMATION CSS */
.animation-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;

    z-index: -5;
}

.animation-container > .blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    backdrop-filter: blur(20px);
}

.animation-container > .ball1 {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;

    background-color: white;

    position: absolute;
    z-index: -3;

    transition: all 5s linear;
}
.animation-container > .ball2 {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;

    background-color: greenyellow;

    position: absolute;
    z-index: -3;

    transition: all 5s linear;
}
.animation-container > .ball3 {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;

    background-color: rgb(238, 64, 64);

    position: absolute;
    z-index: -3;

    transition: all 5s linear;
}
.animation-container > .ball4 {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;

    background-color: rgb(0, 140, 255);

    position: absolute;
    top: 5%;
    left: 20%;
    z-index: -3;

    transition: all 5s linear;
}
.animation-container > .ball5 {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;

    background-color: var(--secondary-color);

    position: absolute;
    top: 5%;
    left: 20%;
    z-index: -3;

    transition: all 5s linear;
}

/* FOOTER STYLES */

footer {
    width: 100%;
    color: var(--tertiary-color);
    height: 50rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    background-color: rgba(35, 37, 41, 0.719);
    width: calc(var(--my-width) + 6rem);
    height: 90%;
    border-radius: 2rem;
    z-index: 2;
}

.footer-container > .logo-sponser-container {
    width: calc(100% - 20rem);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 45%;

    margin: 0 10rem;
}

.footer-container > .logo-sponser-container > .sponser-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;

    width: 50%;
}

.footer-container > .logo-sponser-container > .sponser-container > h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bolder;

    margin: 0;
}

.footer-container > .logo-sponser-container > .sponser-container > a {
    color: var(--tertiary-color);
    text-decoration: none;
}

.footer-container > .logo-sponser-container > .sponser-container > a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

.footer-container > .logo-sponser-container > .logo-container {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-container > .logo-sponser-container > .logo-container > img {
    width: 12rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: contain;
}

.footer-container > .social-links-container {
    width: calc(100% - 30rem);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 45%;

    margin: 0 15rem;
}

.footer-container > .social-links-container > .social-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    flex-direction: column;
}

.footer-container > .social-links-container > .social-container > a {
    color: var(--tertiary-color);
    text-decoration: none;
}

.footer-container > .social-links-container > .links-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    flex-direction: column;
    list-style: none;
}

.footer-container > .social-links-container > .links-container > li > a {
    text-decoration: none;
    color: var(--tertiary-color);
}

.footer-container > .developed-container {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.timelineHeader {
    padding: 3rem 2rem;
    background: #e91e63;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5), 0 4px 0 rgba(0, 0, 0, 0.02);
    position: relative;
    z-index: 3;
}
.timelineHeader h3 {
    font-family: inherit;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    color: #fff;
    font-weight: normal;
    margin: 0;
}
.timelineHeader h3 + span {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-weight: normal;
    color: #fff;
}
.timelineBody {
    color: white;
    /* max-height: 400px; */
    /* overflow-x: hidden;
    overflow-y: auto; */
}
.timelineBody .timeline {
    padding: 3rem 2rem !important;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 2;
}
.timelineBody .timeline:before {
    content: '';
    position: absolute;
    width: 4px;
    background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
    top: 0;
    right: auto;
    left: 173px;
    height: 100%;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.085), 0 1px 0 rgba(0, 0, 0, 0.02);
}
.timelineBody .timeline li {
    width: 60%;
    /* display: flex; */
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 2rem;
    position: relative;
}
.timelineBody .timeline .timelineDot {
    height: 1.5rem;
    width: 1.5rem;
    background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
    border-radius: 2rem;
    flex: 0 0 1.5rem;
    /* margin-right: auto; */
    margin-top: 6px;
    
    position: absolute;
    left: -17px;
}
.timelineBody .timeline .timelineDot::after {
    content: '';
    position: absolute;
    top: 9px;
    left: 3px;
    height: 9px;
    width: 9px;
    /* border-radius: 0%; */
}
.timelineBody .timeline .timelineDate {
    font-size: 1.2rem;
    flex: 0 0 80px;
    padding: 0.2rem;
}
.timelineContent{
    text-align: justify;
    width: 100%;
}
.timelineBody .timeline .timelineContent {
    font-family: inherit;
    font-size: 1.4rem;
    margin-left: 5%;
    flex: 0 0 170px;
}
.timelineBody .timeline .timelineContent small {
    display: block;
    color: #bdbdbd;
}
/* .timelineBody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}
.timelineBody::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}
.timelineBody::-webkit-scrollbar-thumb {
    background-color: #e91e63;
} */
.ajay {
    font-family: sans-serif;
    font-size: 14px;
    position: fixed;
    right: 20px;
    bottom: 10px;
}
.ajay a {
    text-decoration: none;
    color: #333;
}
.ajay a:hover {
    text-decoration: underline;
    color: #000;
}


.timeline-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    background-color: rgba(10, 10, 10, 0.527);
    padding: 20px;
    border-radius: 3%;
    box-shadow: rgb(46, 45, 45) 0px 7px 5px 0px;
}
.timeline{
 
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center horizontally */
        align-items: center; 
        width: 80%; 
        max-width: 800px; 
        margin: 0 auto; 
    }
    
